<ion-view view-title="Ads Form">
    <!--    <i ng-if='appCtrl.islogged' ui-sref='app.profile' class="backbtn ion-arrow-left-c" ></i>
        <i ng-if='!appCtrl.islogged'  ui-sref='app.searchgroup' class="backbtn ion-arrow-left-c" ></i>
    -->
    <ion-pane >
        <ion-tabs ng-if='appCtrl.islogged && appCtrl.ismygroup != 1' class="tabs-icon-bottom tabs-positive">
            <ion-tab   title="Back" icon="ion-arrow-left-c" href="#/app/profile">
            </ion-tab>
          
            <ion-tab  title="Posts" icon="ion-ios-people" href="#/ingroup/post">
                <ion-nav-view name="post-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab  title="Info" icon="ion-search" href="#/ingroup/group">
                <ion-nav-view name="members-tab"></ion-nav-view>
            </ion-tab>
            
        </ion-tabs>
        <ion-tabs ng-if='!appCtrl.islogged && appCtrl.ismygroup != 1' class="tabs-icon-bottom tabs-positive">
            <ion-tab   title="Back" icon="ion-arrow-left-c" href="#/app/searchgroup">
            </ion-tab>
          
            <ion-tab  title="Posts" icon="ion-ios-people" href="#/ingroup/post">
                <ion-nav-view name="post-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab  title="Info" icon="ion-search" href="#/ingroup/group">
                <ion-nav-view name="members-tab"></ion-nav-view>
            </ion-tab>

        </ion-tabs>
        <ion-tabs ng-if='appCtrl.islogged && appCtrl.ismygroup == 1' class="tabs-icon-bottom tabs-positive">
            <ion-tab  title="Back" icon="ion-arrow-left-c" href="#/app/profile">
            </ion-tab>
            <ion-tab  title="Posts" icon="ion-ios-people" href="#/ingroup/post">
                <ion-nav-view name="post-tab"></ion-nav-view>
            </ion-tab>

            <ion-tab  title="Info" icon="ion-search" href="#/ingroup/group">
                <ion-nav-view name="members-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab  title="Invite People" icon="ion-ios-world" href="#/ingroup/usersearch">
                <ion-nav-view name="invite-tab"></ion-nav-view>
            </ion-tab>
            <ion-tab  title="Update Group" icon="ion-grid" href="#/ingroup/updategroup">
                <ion-nav-view name="update-tab"></ion-nav-view>
            </ion-tab>

        </ion-tabs>
    </ion-pane>

</ion-view>
