
<ion-view >
    <ion-tabs class="tabs-icon-bottom tabs-positive">

        <ion-tab title="Home" icon="ion-home" href="#/tab/home">
            <ion-nav-view name="home-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Match" icon="ion-speakerphone" href="#/tab/match" >
            <ion-nav-view name="match-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Competition" icon="ion-trophy" href="#/tab/competition" >
            <ion-nav-view name="competition-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Statistics" icon="ion-pie-graph" href="#/tab/stats" >
            <ion-nav-view name="stats-tab"></ion-nav-view>
        </ion-tab>
        <ion-tab title="Notification" icon="ion-alert" href="#/tab/notification" >
            <ion-nav-view name="notification-tab"></ion-nav-view>
        </ion-tab>

<!--        <ion-tab ng-if='appCtrl.islogged' title="Logout" icon="ion-log-out" ng-click='appCtrl.logout()'>
        </ion-tab>-->



    </ion-tabs>
</ion-view>