/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:
*/
$light:                           #fff !default;
$stable:                          #132650 !default;
$positive:                        #132650 !default;
$calm:                            #132650 !default;
$balanced:                        #132650 !default;
$energized:                       #132650 !default;

$royal:                           #132650 !default;

$dark:                            #D9991D !default;
$assertive:                       #132650 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";

