<ion-view >
    <ion-content  class="no-header ts-bg" >
<!--        <ion-refresher pulling-text="Pull to refresh..." on-refresh="notificationCtrl.fetchFromDb()">
        </ion-refresher>-->
        <div class='margin-top'>
            <div style="margin:10px">
                <i ng-click='home()' class='ts-text-gold icon ion-arrow-left-c' ></i>
                <h4>{{position}}</h4>
            </div>
        </div>
    </ion-content>
</ion-view>
