<style>
    .right{
        float:right
    }
    .left{
        float:left
    }
    .item-note {
        margin-right:6px;
    }
    .note-price{
        color:gold
    }
    .note-pts{
        color: #FFFFFF
    }
    .ion-arrow-left-c{
        font-size:26px;
    }

</style>
<ion-view title='{{position}}'>
    <ion-content  class="no-header ts-bg" >
        <!--        <ion-refresher pulling-text="Pull to refresh..." on-refresh="notificationCtrl.fetchFromDb()">
                </ion-refresher>-->
        <div class='margin-top'>
            <div style="margin:10px">
                <h5 style='float:left'>BANK: ${{banknow}}</h5>
                <h5 style='float:right'>TEAM VALUE: ${{teamvalue}}</h5>
                <div style='clear:both'></div>
                <i ng-click='home()' class='ts-text-gold icon ion-arrow-left-c' ></i>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Teams
                    </div>
                    <select  ng-model='teamfilter' >
                        <option value='{{team.name}}' ng-repeat='team in teams'>
                            {{team.name}}
                        </option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Filter by
                    </div>
                    <select ng-model='orderby' >
                        <option value="-value">Most Expensive</option>
                        <option value="value">Least Expensive</option>
                        <option value="-points">Most Points</option>
                        <option ng-if='position != "Goalkeepers"' value="-scores">Most Goals</option>
                        <option ng-if='position != "Goalkeepers"' value="-assists">Most Assists</option>
                    </select>
                </label>
                <div class='list '>
                    <a class="item  item-avatar  item-icon-left" ng-repeat='player in playerlist | orderBy: orderby | filter: teamfilter' ng-click='buyplayer(player)'>
                        <img src='{{player.team.image_url}}' />
                        {{player.name}}
                        <br/>
                        <span class="item-note note-price">
                            ${{player.value}}
                        </span>
                        <span class="item-note note-pts">
                            {{player.points}}pts
                        </span>
                        <span class="item-note ">
                            <span ng-if='position != "Goalkeepers"'>{{player.scores}} Goals {{player.assists}} Assists</span>
                        </span>
                    </a>
                    <h5></h5>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
