<ion-view hide-nav-bar="true">
    <style>
        input,h1,i,p{
            color:white !Important
        }
        /*        span{
                    color:#e0e0e0 !Important
                }*/

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: white !Important;
        }
       
    </style>
    <ion-content  style='background:url("img/bg.jpg") no-repeat;background-size:cover'>

        <div class="hero no-header flat">
            <div class="text centercontent">
                <div class="app-icon"></div>
                <img style='margin:0 auto' src='img/logo.png' />
                <p></p>
            </div>
        </div>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input ng-model="authCtrl.loginData.email" type="text" placeholder="Username/Email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input ng-model="authCtrl.loginData.password" type="password" placeholder="Password">
            </label>
        </div>
        <div class="padding">
            <button ng-click="authCtrl.signuppage()" class="button button-full button-balanced ink">Sign Up</button>
            <button ng-click="authCtrl.login()" class="button button-full button-assertive ink">Login</button>
        </div>

    </ion-content>
</ion-view>
