<ion-view hide-nav-bar="true">
    <style>
        input,h1,i,p{
            color:white !Important
        }
        span{
            color:#e0e0e0 !Important
        }

        ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: white !Important;
        }
       
    </style>
    <ion-content style='background:url("img/bg.jpg") no-repeat;background-size:cover'>
        <div class="hero no-header flat">
            <div class="text centercontent">
                <div class="app-icon"></div>
                <img style='margin:0 auto' src='img/logo.png' />
                <p></p>
            </div>
        </div>
        <div ng-if="authCtrl.profilesubmitted == 0" class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">First Name</span>
                <input ng-model="authCtrl.signupData.firstname" type="text" placeholder="First Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Last Name</span>
                <input ng-model="authCtrl.signupData.lastname" type="text" placeholder="Last Name">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Nickname</span>
                <input ng-model="authCtrl.signupData.displayname" type="text" placeholder="Nickname">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Phone</span>
                <input ng-model="authCtrl.signupData.phone" type="text" placeholder="Phone">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Email</span>
                <input ng-model="authCtrl.signupData.email" type="text" placeholder="Email">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Password</span>
                <input ng-model="authCtrl.signupData.password" type="password" placeholder="Password">
            </label>
        </div>
        <label ng-if="authCtrl.profilesubmitted == 1"  class="item item-input ">
            <span class="input-label">Enter Verification Code</span>
            <input ng-model="authCtrl.signupData.codecheck" type="password" >
        </label>
        <div ng-if="authCtrl.profilesubmitted == 0" class="padding">
            <button ng-click="authCtrl.signup()" class="button button-full button-assertive ink">Sign Up</button>
            <button ng-click="authCtrl.loginpage()" class="button button-full button-assertive ink">Login</button>
        </div>
        <div ng-if="authCtrl.profilesubmitted == 1" class="text-center padding">
            <button ng-click="authCtrl.resetSignUp()" class="button button-half button-light ink">Reset Sign Up</button>
            <button ng-click="authCtrl.signup()" class="button button-half button-assertive ink">Submit</button>
        </div>

    </ion-content>
</ion-view>
