<ion-view title='MY TEAM'>
    <ion-content  class=" ts-bg" >
        <div style="background-color:#fafafa;" class="lineup">
            <style>
                .row-centered {
                    text-align:center;
                }
                .col-centered {
                    display:inline-block;
                    float:none;
                    /* reset the text-align */
                    text-align:left;
                    /* inline-block space fix */
                    margin-right:-4px;

                    text-align: center
                }

                #sidebar .row{
                    margin-bottom:20px
                }

                .gwheader{
                    font-size:18px;
                    font-weight:bold;
                    color:white;
                }
                @media (min-width: 768px){
                    .box-point {
                        margin-top:56px
                    }
                }

                @media (max-width: 767px){
                    .col-xs-15 {
                        width:29%
                    }
                    .playername{
                        font-size:8px !Important
                    }
                    .box-point {
                        margin-top:46px
                    }

                }
                .captainbox{
                    width: 14px;
                    color:white;
                    height:14px;
                    font-size: 9px;
                    padding-bottom: 14px;
                    border: 1px solid;
                    border-radius: 50%;
                    background-color: #f00;
                }

                .col-centered{
                    text-align: center
                }

                .yes{
                    background:green
                }
                .no{
                    background:red
                }

                .dragger img{
                    height:60px;
                    width:60px;
                }

                .team46{
                    background: #58a;
                    background-image: repeating-linear-gradient(30deg, rgba(#FFF, .2), rgba(#FFF, .2) 30px, transparent 0, transparent 60px); 
                }

                .circle {
                    width: 62px;
                    margin:0 auto;
                    height: 62px;
                    -moz-border-radius: 50px;
                    -webkit-border-radius: 50px;
                    border-radius: 50px;
                }
                .next_match{
                    /*            position: absolute;
                                margin-top: -78px;*/
                    /*            font-size: 10px;
                                padding: 1px;
                                color: white;*/
                    margin-top:0px !important;
                    background: rgba(0,0,0,0.5) !Important;
                    margin-top: 15px;
                }


            </style>
            <div class="row-centered" style="background-color:#38003c;">
                <div style="width:100%;background:url('img/pitch.png') no-repeat;background-position:center 0;background-size:cover;min-height:330px;">
                    <div ng-repeat="player in gk" ng-model="gk" data-drop="true" data-jqyoui-options="{revert: 'invalid'}"  jqyoui-droppable="{beforeDrop: 'beforeDrop($index,player)',onDrop:'onDrop($index,player)'}" class="col-xs-15 col-sm-15 col-md-15 col-lg-15 col-centered" >
                        <div   ng-model="player" style='height:50px;'>
                            <div class='dragger' style='cursor:pointer' data-drag="true" data-jqyoui-options="{revert: 'invalid'}"  jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true,multiple:false}" >
                                <!--<div class='circle team{{player.team_id}}'></div>-->
                                <img ng-if='player.team_id' src='img/jersey/{{player.team_id}}.png' class='img-responsive ' style='margin:0 auto;height:35px;width:30px' />
                                <img ng-if='!player.team_id' src='img/jersey/noteam.png' class='img-responsive ' style='margin:0 auto;height:35px;width:30px' />

                                <!--vs {{player.next_match}}-->
                                <div class="btn-success playername"  ><span class='pos_hi'>{{player.position}}</span> {{player.name}} </div>
                                <div class="btn-success next_match">vs {{player.next_match}}</div>
                            </div>
                        </div>
                    </div>
                    <div class='clearfix'></div>
                    <div ng-repeat="player in df" ng-model="df" data-drop="true" data-jqyoui-options="{revert: 'invalid'}"  jqyoui-droppable="{beforeDrop: 'beforeDrop($index,player)',onDrop:'onDrop($index,player)'}" class="col-xs-15 col-sm-15 col-md-15 col-lg-15 col-centered" >
                        <div    ng-model="player" style='height:50px;'>
                            <div class='dragger' style='cursor:pointer' data-drag="true" data-jqyoui-options="{revert: 'invalid'}"  jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true,multiple:false}" >
                                <!--<div class='circle team{{player.team_id}}'></div>-->
                                <img ng-if='player.team_id' src='img/jersey/{{player.team_id}}.png' class='img-responsive ' style='margin:0 auto;height:35px;width:30px' />
                                <img ng-if='!player.team_id' src='img/jersey/noteam.png' class='img-responsive ' style='margin:0 auto;height:35px;width:30px' />
                                <div class="btn-success playername"  ><span class='pos_hi'>{{player.position}}</span> {{player.name}} </div>
                                <div class="btn-success next_match">vs {{player.next_match}}</div>
                            </div>
                        </div>
                    </div>
                    <div class='clearfix'></div>
                    <div ng-repeat="player in mf" ng-model="mf" data-drop="true" data-jqyoui-options="{revert: 'invalid'}"  jqyoui-droppable="{beforeDrop: 'beforeDrop($index,player)',onDrop:'onDrop($index,player)'}" class="col-xs-15 col-sm-15 col-md-15 col-lg-15 col-centered" >
                        <div   ng-model="player" style='height:50px;'>
                            <div class='dragger' style='cursor:pointer' data-drag="true" data-jqyoui-options="{revert: 'invalid'}"  jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true,multiple:false}" >
                                <img ng-if='player.team_id' src='img/jersey/{{player.team_id}}.png' class='img-responsive ' style='margin:0 auto;height:35px;width:30px' />
                                <img ng-if='!player.team_id' src='img/jersey/noteam.png' class='img-responsive ' style='margin:0 auto;height:35px;width:30px' />
                                <div class="btn-success playername"  ><span class='pos_hi'>{{player.position}}</span> {{player.name}} </div>
                                <div class="btn-success next_match">vs {{player.next_match}}</div>
                            </div>
                        </div>
                    </div>
                    <div class='clearfix'></div>
                    <div ng-repeat="player in st" ng-model="st" data-drop="true" data-jqyoui-options="{revert: 'invalid'}"  jqyoui-droppable="{beforeDrop: 'beforeDrop($index,player)',onDrop:'onDrop($index,player)'}" class="col-xs-15 col-sm-15 col-md-15 col-lg-15 col-centered" >
                        <div    ng-model="player" style='height:50px;'>
                            <div class='dragger' style='cursor:pointer' data-drag="true" data-jqyoui-options="{revert: 'invalid'}"  jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true,multiple:false}" >
                                <img ng-if='player.team_id' src='img/jersey/{{player.team_id}}.png' class='img-responsive ' style='margin:0 auto;height:35px;width:30px' />
                                <img ng-if='!player.team_id' src='img/jersey/noteam.png' class='img-responsive ' style='margin:0 auto;height:35px;width:30px' />
                                <div class="btn-success playername"  ><span class='pos_hi'>{{player.position}}</span> {{player.name}} </div>
                                <div class="btn-success next_match">vs {{player.next_match}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div style="background:brown">
                    <div ng-repeat="player in subgk" ng-model="subgk" data-drop="true" data-jqyoui-options="{revert: 'invalid'}"  jqyoui-droppable="{beforeDrop: 'beforeDrop($index,player)',onDrop:'onDrop($index,player)'}" class="col-xs-15 col-sm-15 col-md-15 col-lg-15 col-centered" >
                        <div    ng-model="player" style='height:50px;'>
                            <div class='dragger' style='cursor:pointer' data-drag="true" data-jqyoui-options="{revert: 'invalid'}"  jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true,multiple:false}" >
                                <img ng-if='player.team_id' src='img/jersey/{{player.team_id}}.png' class='img-responsive ' style='margin:0 auto;height:35px;width:30px' />
                                <img ng-if='!player.team_id' src='img/jersey/noteam.png' class='img-responsive ' style='margin:0 auto;height:35px;width:30px' />
                                <div class="btn-success playername"  ><span class='pos_hi'>{{player.position}}</span> {{player.name}} </div>
                                <div class="btn-success next_match">vs {{player.next_match}}</div>
                            </div>
                        </div>
                    </div>
                    <div class='clearfix'></div>
                    <div ng-repeat="player in sub" ng-model="sub" data-drop="true" data-jqyoui-options="{revert: 'invalid'}"  jqyoui-droppable="{beforeDrop: 'beforeDrop($index,player)',onDrop:'onDrop($index,player)'}" class="col-xs-15 col-sm-15 col-md-15 col-lg-15 col-centered" >
                        <div    ng-model="player" style='height:50px;'>
                            <div class='dragger' style='cursor:pointer' data-drag="true" data-jqyoui-options="{revert: 'invalid'}"  jqyoui-draggable="{index: {{$index}},placeholder:true,animate:true,multiple:false}" >
                                <img ng-if='player.team_id' src='img/jersey/{{player.team_id}}.png' class='img-responsive ' style='margin:0 auto;height:35px;width:30px' />
                                <img ng-if='!player.team_id' src='img/jersey/noteam.png' class='img-responsive ' style='margin:0 auto;height:35px;width:30px' />
                                <div class="btn-success playername"  ><span class='pos_hi'>{{player.position}}</span> {{player.name}} </div>
                                <div class="btn-success next_match">vs {{player.next_match}}</div>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>                  
        </div>

    </ion-content>
</ion-view>
