<ion-view view-title="Notification List">
    <ion-content ng-class="{expanded:isExpanded}" >
        <ion-refresher pulling-text="Pull to refresh..." on-refresh="notificationCtrl.fetchFromDb()">
        </ion-refresher>
        <div ng-click="notificationCtrl.action(item)" ng-repeat="item in notificationCtrl.notificationLists" class="item card-item">
            <div class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url({{item.image}});"></span>
                    <strong>{{item.message}}</strong>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
