<style>
    .right{
        float:right
    }
    .left{
        float:left
    }
    .item-note {
        margin-right:6px;
    }
    .note-price{
        color:gold
    }
    .note-pts{
        color: #FFFFFF
    }
    .ion-arrow-left-c{
        font-size:26px;
    }

</style>
<ion-view title='{{position}}'>
    <ion-content  class="no-header ts-bg" >
        <!--        <ion-refresher pulling-text="Pull to refresh..." on-refresh="notificationCtrl.fetchFromDb()">
                </ion-refresher>-->
        <div class='margin-top'>
            <div style="margin:10px">
                <i ng-click='home()' class='ts-text-gold icon ion-arrow-left-c' ></i>

                <h5 style='float:left'>BANK: ${{banknow}}</h5>
                <h5 style='float:right'>TEAM VALUE: ${{teamvalue}}</h5>
                <div class="col-sm-12"  >
                    <table class="table table-striped">
                        <tr>
                            <td>BANK: </td>
                            <td>{{ bank| number:2}}</td>
                        </tr>
                        <tr>
                            <td>AFTER TRANSFER: </td>
                            <td>{{ newbank| number:2}}</td>
                        </tr>
                        <tr>
                            <td>TRANSFER LEFT: </td>
                            <td>{{ transfer_left}}</td>
                        </tr>
                    </table>
                    <div class="col-xs-6">
                        <div style="background:lightcoral" class='lsmbox' >
                            <h3>OUT</h3>
                            <table class="table-striped table table-responsive">

                                <tbody>
                                    <tr><td style='text-align:center' width='20%'>
                                            <div class="thumbnailsmall" style="background:url('{{data.image_url}}')  no-repeat">
                                            </div>
                                            {{data.name}}
                                        </td>
                                        <td><b>{{data.value| number:2}}</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div  class="col-xs-6">
                        <div style="background:lightgreen" class="lsmbox">
                            <h3>IN</h3>
                            <table ng-if='newplayer' class="table-striped table table-responsive">

                                <tbody>
                                    <tr><td style='text-align:center' width='14%'>
                                            <div class="thumbnailsmall" style="background:url('{{newplayer.image_url}}')  no-repeat">
                                            </div>
                                            {{newplayer.name}}
                                        </td>
                                        <td><b>{{newplayer.value| number:2}}</b></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div style="margin-top:20px"  class="text-center col-xs-12">
                            <button ng-disabled="newbank < 0"  ng-click='confirmTransfer()' class='btn btn-payment'>CONFIRM</button>
                        </div>

                    </div>
                </div>
                <div style='clear:both'></div>
                <i ng-click='home()' class='ts-text-gold icon ion-arrow-left-c' ></i>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Teams
                    </div>
                    <select  ng-model='teamfilter' >
                        <option value='{{team.name}}' ng-repeat='team in teams'>
                            {{team.name}}
                        </option>
                    </select>
                </label>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Filter by
                    </div>
                    <select ng-model='orderby' >
                        <option value="-value">Most Expensive</option>
                        <option value="value">Least Expensive</option>
                        <option value="-points">Most Points</option>
                        <option ng-if='position != "Goalkeepers"' value="-scores">Most Goals</option>
                        <option ng-if='position != "Goalkeepers"' value="-assists">Most Assists</option>
                    </select>
                </label>
                <div class='list '>
                    <a class="item  item-avatar  item-icon-left" ng-repeat='player in playerlist| orderBy: orderby | filter: teamfilter' ng-click='buyplayer(player)'>
                        <img src='{{player.team.image_url}}' />
                        {{player.name}}
                        <br/>
                        <span class="item-note note-price">
                            ${{player.value}}
                        </span>
                        <span class="item-note note-pts">
                            {{player.points}}pts
                        </span>
                        <span class="item-note ">
                            <span ng-if='position != "Goalkeepers"'>{{player.scores}} Goals {{player.assists}} Assists</span>
                        </span>
                    </a>
                    <h5></h5>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
