<ion-view title='LETS BUY PLAYERS!'>
    <ion-content  class=" ts-bg" >
        <!--        <ion-refresher pulling-text="Pull to refresh..." on-refresh="notificationCtrl.fetchFromDb()">
                </ion-refresher>-->
            <div class='noplayers'  style="margin:10px">
               <h5 style='float:left'>BANK: ${{myteam.bank}}</h5>
                <h5 style='float:right'>TEAM VALUE: ${{teamvalue}}</h5>
                <div style='clear:both'></div>
                <div class='item'>
                    <h3>GOALKEEPERS </h3>
                    <div class='row center'>
                        <div class='text-center center-block col-20' ng-repeat='item in mytempplayers| filter:posfilter("GK")'>
                            <div ng-if='!item.name' class='playerbox' ng-click='buyplayer("gk",0)'>
                                <h2><i class='icon ion-plus' ></i></h2>
                            </div>
                            <div ng-if='item.name' class=' playerbox' ng-click='buyplayer("gk",item.id)'>
                                <img  style="width: 40px; height: 40px;" src='{{item.team.image_url}}' />
                                <p>{{item.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='item'>
                    <h3>DEFENDERS </h3>
                    <div class='row'>
                        <div class='text-center center-block col-20' ng-repeat='item in mytempplayers| filter:posfilter("DF")'>
                            <div ng-if='!item.name' class='playerbox' ng-click='buyplayer("df",0)'>
                                <h2><i class='icon ion-plus' ></i></h2>
                            </div>
                            <div ng-if='item.name' class=' playerbox' ng-click='buyplayer("df",item.id)'>
                                <img style="width: 40px; height: 40px;" src='{{item.team.image_url}}' />
                                <p>{{item.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='item'>
                    <h3>MIDFIELDERS </h3>
                    <div class='row'>
                        <div class='text-center center-block col-20' ng-repeat='item in mytempplayers| filter:posfilter("MF")'>
                            <div ng-if='!item.name' class='playerbox' ng-click='buyplayer("mf",0)'>
                                <h2><i class='icon ion-plus' ></i></h2>
                            </div>
                            <div ng-if='item.name' class='playerbox' ng-click='buyplayer("mf",item.id)'>
                                <img style="width: 40px; height: 40px;" src='{{item.team.image_url}}' />
                                <p>{{item.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='item'>
                    <h3>FORWARDS </h3>
                    <div class='row'>
                        <div class='text-center center-block col-20' ng-repeat='item in mytempplayers| filter:posfilter("ST")'>
                            <div ng-if='!item.name' class='playerbox' ng-click='buyplayer("st",0)'>
                                <h2><i class='icon ion-plus' ></i></h2>
                            </div>
                            <div ng-if='item.name' class='playerbox' ng-click='buyplayer("st",item.id)'>
                                <img style="width: 40px; height: 40px;" src='{{item.team.image_url}}' />
                                <p>{{item.name}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button ng-click='confirmTeam()' class='button-block button button-block'>Confirm Team</button>
                <button ng-click='resetTeam()' class='button-block button button-assertive'>Reset Team</button>

        </div>
    </ion-content>
</ion-view>
